<!-- Version Heroku 27/03/2018 -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Carte de visite Sandrine Gautier</title>
      <link rel="icon" type="image/png" href="Sandrine Gautier.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#071e2f">
        <meta name="description" content="Developpeur web">
        <link rel="stylesheet" href="style.css">
<!-- Bootstrap -->    
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>
      
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      
      
<!-- jquery -->
        <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">
        </script> 
      
      <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:30" rel="stylesheet">
      
    </head>
      
     
  
  
<body> 

<div class="container">
  <div class="card">
    
    <div class="front side">
      <h1 class="logo">Sandrine Gautier</h1>
    </div>
    
    <div class="back side">
      <h3 class="name">Sandrine Gautier</h3>
      <div>Developer Web</div>      
      <div class="info">
        <p><span class="property">Email: </span>sandrinegautier.mail@gmail.com</p>
        <p><span class="property">Twitter: </span>@sgautier</p>
        <p><span class="property">Téléphone: </span>07 86 62 73 64</p>
        <p><span class="property">Website: </span>En cours</p>
      </div>
    </div>
    
  </div>
</div>


</body>    

                  
